{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AURA - AI Unified Response Agent</title>
    <script src="{% static 'js/tailwind.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/local-fonts.css' %}">

    <style>
        /* We only need one small style block to set the font globally */
        body {
            font-family: 'Roboto Mono', monospace;
        }
    </style>
</head>
<body class="bg-black  text-white antialiased bg-transparent-200">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
        {% block content %}{% endblock %}
    </div>
</body>
</html>